@mixin bg-hover($color, $amount, $darken: true) {
	cursor: pointer;
	&:hover {
		@if ($darken) {
			background-color: darken($color, $amount);
		} @else {
			background-color: lighten($color, $amount);
		}
	}
}
