@import './bg-hover';
@import '../variables';

$light-base-color: map-get(
	$map: $bg-base-colors,
	$key: 'light',
);
$dark-base-color: map-get(
	$map: $bg-base-colors,
	$key: 'dark',
);

@mixin bg-depth-color($i, $base-color, $text-color, $dark) {
	$bg-total: $i * $depth-factor;
	$hb-total: $bg-total + 4%;

	.bg-depth-#{$i} {
		color: $text-color;
		@if (dark) {
			background-color: darken($color: $base-color, $amount: $bg-total);
		} @else {
			background-color: lighten($color: $base-color, $amount: $bg-total);
		}

		&.hoverable {
			@include bg-hover(
				$color: $base-color,
				$amount: $hb-total,
				$darken: $dark == false
			);
		}
	}

	.bg-depth-hover-#{$i} {
		@include bg-hover(
			$color: $base-color,
			$amount: $hb-total,
			$darken: $dark == false
		);
	}
}

@mixin bg-depth-colors {
	@for $i from 0 to 6 {
		@include bg-depth-color(
			$i,
			$base-color: $light-base-color,
			$text-color: map-get($map: $text-colors, $key: 'black'),
			$dark: false
		);

		.dark-theme {
			@include bg-depth-color(
				$i,
				$base-color: $dark-base-color,
				$text-color: map-get($map: $text-colors, $key: 'white'),
				$dark: true
			);
		}
	}
}
