@import '../variables';

$light-base-color: map-get(
	$map: $bg-base-colors,
	$key: 'light',
);
$dark-base-color: map-get(
	$map: $bg-base-colors,
	$key: 'dark',
);

$factor: 2%;
$hoverable-factor: 4%;

@mixin bg-depth-hover($bg-base-color, $hoverable-total) {
	cursor: pointer;
	&:hover {
		background-color: darken(
			$color: $bg-base-color,
			$amount: $hoverable-total
		) !important;
	}
}

@mixin bg-depth-color(
	$i,
	$bg-base-color,
	$text-color,
	$total,
	$hoverable-total
) {
	.bg-depth-#{$i} {
		background-color: darken(
			$color: $bg-base-color,
			$amount: $total
		) !important;
		color: $text-color;

		&.hoverable {
			@include bg-depth-hover($bg-base-color, $hoverable-total);
		}
	}

	.bg-depth-hover-#{$i} {
		@include bg-depth-hover($bg-base-color, $hoverable-total);
	}
}

@mixin bg-depth-colors {
	@for $i from 0 to 6 {
		$bg-total: $i * $factor;
		$hb-total: $i * $hoverable-factor;

		@include bg-depth-color(
			$i,
			$bg-base-color: $light-base-color,
			$text-color: map-get($map: $text-colors, $key: 'black'),
			$total: $bg-total,
			$hoverable-total: $hb-total
		);

		.dark-theme {
			@include bg-depth-color(
				$i,
				$bg-base-color: $dark-base-color,
				$text-color: map-get($map: $text-colors, $key: 'white'),
				$total: $bg-total,
				$hoverable-total: $hb-total
			);
		}
	}
}
