@import '../variables';

@mixin button-sizes {
	@each $name, $size in $button-sizes {
		&.btn-#{$name} {
			height: $size !important;
			padding: 0 #{$size/2};
			font-size: #{$size/2.5};

			&.btn-square,
			&.btn-circle {
				width: $size !important;
				padding: 0;
				overflow: hidden;
			}
		}
	}
}
