@import '../../scss/variables';
@import '../../scss/color/bg-colors';

$input-height: map-get(
	$map: $button-sizes,
	$key: 'lg',
);
$spacing: 6px;
$input-font-size: 16px;

.container {
	padding: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-items: flex-start;

	.inputWrapper {
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: center;
		flex-grow: 1;
		padding: 0;
		border-radius: $input-radius;
		height: $input-height;

		button.backButton {
			margin-right: 0;
		}

		input[type='text'] {
			display: block;
			flex-grow: 1;
			border: none;
			box-sizing: border-box;
			padding: 0 8px 0 0;
			border-radius: $input-radius;
			height: 100%;
			font-size: $input-font-size;
			background-color: transparent;
			outline: none;
		}
	}

	button.searchButton {
		margin-left: $spacing;
	}
}
