@import '../../scss/variables';
@import '../../scss/color/bg-colors';

$input-height: map-get(
	$map: $controls-sizes,
	$key: 'lg',
);
$button-spacing: 6px;

.container {
	padding: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-items: flex-start;

	.inputWrapper {
		display: flex;
		flex-direction: row;
		justify-content: start;
		align-items: center;
		flex-grow: 1;
		padding: 0;
		border-radius: $input-radius;

		button.backButton {
			margin-right: 0;
		}

		.searchInput {
			flex-grow: 1;
			padding-left: 4px;
		}
	}

	button.searchButton {
		margin-left: $button-spacing;
	}
}
