@import '../../scss/variables';
@import '../../scss/color/bg-colors';

$input-height: map-get(
	$map: $button-sizes,
	$key: 'md',
);
$spacing: 6px;

.container {
	padding: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-items: flex-start;

	.backButton {
		padding-right: $spacing;
	}

	input[type='text'] {
		display: block;
		flex-grow: 1;
		border: none;
		box-sizing: border-box;
		padding: 0 1rem;
		border-radius: 5px;
		height: $input-height;
	}

	.searchButton {
		padding-left: $spacing;
	}
}
