@import '../../../scss/color/bg-colors';
@import '../../../scss/color/text-colors';
@import '../../../scss/variables';

$container-spacing: 2px;

$bubble-max-width: 60%;
$bubble-padding: 0;
$bubble-content-padding: 12px 16px;
$bubble-radius: 12px;
$multimedia-radius: #{$bubble-radius} #{$bubble-radius} 2px 2px;

$text-padding: 0;
$timestamp-font-size: 12px;
$timestamp-spacing: 2px;

$image-max-size: 360px;

.container {
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	width: 100%;
	padding-top: $container-spacing;

	.content {
		width: 100%;
		display: flex;
		flex-direction: column;

		.bubble {
			display: flex;
			flex-direction: column;
			width: auto;
			align-items: stretch;
			overflow: hidden;
			max-width: $bubble-max-width;
			border-radius: $bubble-radius;
			padding: $bubble-padding;

			.multimedia {
				background-color: #000;
				display: flex;
				flex-direction: row;
				justify-content: center;
				overflow: hidden;
				border-radius: $multimedia-radius;
				cursor: pointer;

				img {
					width: auto;
					max-width: $image-max-size;
					max-height: $image-max-size;
					height: auto;
				}
			}

			.bubbleContent {
				padding: $bubble-content-padding;
				display: flex;
				flex-direction: column;

				p.text {
					box-sizing: border-box;
					padding: $text-padding;
					margin: 0;
					word-wrap: break-word;
					word-spacing: normal;
				}

				span.timestamp {
					display: block;
					font-size: $timestamp-font-size;
					text-align: right;
					opacity: 0.7;
					padding-top: $timestamp-spacing;
				}
			}
		}
	}

	&.left {
		.content {
			align-items: flex-start;
		}
	}

	&.right {
		.content {
			align-items: flex-end;
		}
	}
}
