@import './function/build-theme-colors';

$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
	Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

/* Heights */
$head-height: 60px;
$list-groups-height: 40px;

$button-radius: 5px;
$input-radius: 5px;

$bg-depth-light-map: ();
$bg-depth-dark-map: ();

$bg-base-colors: (
	'light': #fff,
	'dark': #212121,
);

$text-colors: (
	'white': #fff,
	'black': #212121,
);

$button-sizes: (
	'xs': 12px,
	'sm': 24px,
	'md': 32px,
	'lg': 40px,
	'xl': 56px,
);

$colors: (
	'red': #f44336,
	'pink': #e91e63,
	'purple': #9c27b0,
	'deeppurple': #673ab7,
	'indigo': #3f51b5,
	'blue': #2196f3,
	'lightblue': #03a9f4,
	'cyan': #00bcd4,
	'teal': #009688,
	'green': #4caf50,
	'lightgreen': #8bc34a,
	'lime': #cddc39,
	'yellow': #ffeb3b,
	'amber': #ffc107,
	'orange': #ff9800,
	'deeporange': #ff5722,
	'brown': #795548,
	'grey': #9e9e9e,
	'bluegrey': #607d8b,
);

$main-colors: (
	primary:
		map-get(
			$map: $colors,
			$key: 'blue',
		),
	secondary:
		map-get(
			$map: $colors,
			$key: 'pink',
		),
	warning:
		map-get(
			$map: $colors,
			$key: 'amber',
		),
	danger:
		map-get(
			$map: $colors,
			$key: 'red',
		),
	info:
		map-get(
			$map: $colors,
			$key: 'teal',
		),
	light:
		map-get(
			$map: $colors,
			$key: 'grey',
		),
);

$theme-colors: build-theme-colors(
	$map-colors: $main-colors,
	$default-colors: $main-colors,
);

$all-colors: map-merge(
	$map1: $colors,
	$map2: $theme-colors,
);
