@import '../../../scss/variables';

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
	height: $list-groups-height;
	overflow-x: auto;
	box-sizing: border-box;
	padding: 0.5rem;
}
