@import '../../../scss/variables';

.container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	box-sizing: border-box;
	padding-bottom: $head-title-padding-bottom;

	.title {
		margin: 0;
		height: $head-title-height;
		line-height: $head-title-height;
		flex-grow: 1;
	}

	.buttonsContainer {
		display: flex;
		flex-direction: row;
		justify-content: end;
		align-items: center;
	}
}
